@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>FindBooks</title>
    <link href="StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <!--<div class="body-home">
        <h3> BEM VINDOS AO</h3>
        <h1>FINDBOOKS</h1>
    </div>-->
</body>
</html>
